body {
    margin: 0;
    font-family: sans-serif;
    background: #444;

    /* to prevent selecting anything */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    z-index: 150;
    background: #1a1a1e;
}

#logobox {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

#logobox h1 {
    color: #ec008c;
    font-family: 'Bruno Ace SC', sans-serif;;
    font-size: 1.5rem;
}

#logobox h1 b {
    color: #eee;
}

#logobox img {
    height: 2rem;
    margin: 0 0.75rem 0 1.25rem;
}

#logobig   { display: block; }
#logosmall { display: none;  }

@media only screen and (max-width: 360px) {
    #logobig   { display: none;  }
    #logosmall { display: block; }
}

#navBTNs {
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    transition: all 0.2s;
}

#navBTNs > input[type=button] {
    padding: 1.25rem 1rem;
    background: #0000;
    color: #ddd;
    border: none;
    transition: all 0.2s;
    width: 3.5rem;
    text-align: center;
}

#navBTNs > input[type=button]:hover {
    background: #333;
    color: #eee;
}

#close_btn:hover {
    background: #e81123 !important;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.25rem;
    margin-top: 5rem;
    justify-content: center;
    min-height: calc(100vh - 14.5rem);
}

.imgBox {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    margin: 0.25rem;
    transition: all .2s;
    background-color: #333;
    border-radius: 0.25rem;
}

.imgBox:hover {
    transition: all .2s;
    transform: scale(1.08);
    border-radius: 0.25rem;
    box-shadow: 0 0 4rem #0007;
    z-index: 50;
}

.imgBox input[type=button] {
    position: absolute;
    bottom: 0.5rem;
    background-color: #ddda;
    border: none;
    opacity: 0;
    transform: scale(0.5);
    transform-origin: top left;
    width: 2.25rem;
    height: 2rem;
    text-align: center;
    transition: all 0.1s;
    border-radius: 0.25rem;
}

.imgBox input[type=button]:hover {
    background-color: #dddd;
}

.imgBox img {
    width: clamp(6rem, calc((100vw - 2.25rem) / 3), 13.2rem);
    aspect-ratio: 1;
    object-fit: contain;
    /* height: clamp(6em, calc((100vw - 2.25rem) / 3), 13.2rem); */
    font-size: clamp(0.7rem, 3vw ,1rem);
    line-height: clamp(6rem, calc((100vw - 2.25rem) / 3), 13.2rem);
    color: #bbb;
    text-align: center;
    display: block;
}

.downloadBTN { right: 0.5rem;  }
.infoBTN     { right: 3.25rem; }

.imgBox:hover input[type=button] {
    opacity: 1;
    transform: scale(1);
}

#imgViewer {
    display: none;
    background: #444;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 100;
    flex-direction: column;
}

#imgViewer input[type=button] {
    font-size: 3rem;
    color: #bbb;
    height: 3rem;
    width: 3.5rem;
    border: none;
    background: #0000;
    text-shadow: 0 0 1rem #000f, 0 0 2rem #444f, 0 0 0.5rem #444f;
    z-index: 250;
}

#imgViewer input[type=button]:hover {
    color: #ddd;
}

#imgViewer input[type=button]:active,
#imgViewer input[type=button].active {
    transform: scale(0.9);
    color: #999;
}

#stop_btn {
    display: none;
}

#imgViewBox {
    height: calc(100vh - 9rem);
    width: 100%;
    transition: all 0.2s;
    cursor: grab;
}

#imgViewBox:active {
    cursor: grabbing;
}

#bottomBar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 200;
    background: linear-gradient(360deg, #333, transparent);
}

#imgSlider {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    overflow: scroll;
    z-index: 200;
    width: calc(100vw - 7rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#imgSlider::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#imgSlider,
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

#imgSlider img:first-child { margin-left: 50vw;  }
#imgSlider img:last-child  { margin-right: 50vw; }

#imgSlider img {
    min-width: 4rem;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    display: block;
}

#imgSlider img.active {
    outline: solid #ec008c 0.25rem;
    border-radius: 0.3rem;
    z-index: 350;
    box-shadow: 0 1.2rem 1rem 1rem #444c;
    transform: translate(0, -0.15rem) scale(1.05);
}

#lazyloader {
    display: none;
}

#footer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

#footer span {
    color: #eee;
    text-align: center;
    font-family: 'Bruno Ace SC', sans-serif;;
    font-size: 1rem;
}

#footer span b {
    color: #ec008c;
}